/**
 * -----------------------------------------------------------------------------
 * $BACKGROUND
 * -----------------------------------------------------------------------------
 */


.background--dark {
    color: $color-white;
    background: $color-secondary;

    & a {
        color: $color-white;
    }
}
