

.tablepress {
    & .column-2, & .column-4 {
        display: none;
        @include tablet {
            display: table-cell;
        }
    }

    & .dataTables_info {
        display: none;
        @include tablet {
            display: block;
        }
    }
}
