/**
* -----------------------------------------------------------------------------
* $VARS
* -----------------------------------------------------------------------------
*/

$base-unit : 12px;

$font-family--default : 'Montserrat', sans-serif;

$font-size--default : $base-unit * 1.5;

$color-primary: #00FF78;
$color-secondary: #292623;
$color-teritiary: #FFFFFF;
$color-white: #FFFFFF;

$color-hr : rgba($color-white, 0.15);

$font-weight--bold : 700;
